.logo {
    // width: 60%;
    // margin-top: 5px;
    transform: scale(0.8) translateX(-15%);
}

.active {
    --background: #ff9a79 !important;
    color: white !important;
    --box-shadow: 0px 1px 4px 0px #00000094;
    font-weight: 700 !important;
    font-size: 18px !important;
    ion-icon {
        color: white !important;
    }
}

.categ-head {
    background-color: #999999;
    color: #ffffff;
    font-weight: 600;
}

.category, .opt {
    font-weight: 600;
    color: var(--kw-secondary);
    font-size: 16px;
}

.navi {
    padding-top: 38px;
}

.menu-img {
    --size: 1;
}
