ion-card {
    margin: 0.5em;
}

ion-thumbnail {
    height: 100%;
    width: 100%;
}

ion-card-title {
    font-size: 1.1em;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

ion-card-title.md.hydrated {
    font-weight: bold !important;
}

ion-chip {
    height: 1.4em;
    margin-top: 0;
    float: right;
}

.desc {
    word-spacing: 1.5px;
    color: black;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1em;
}

.add-to-cart-btn {
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 0.02em;
}

ion-chip ion-label {
    font-weight: 400;
}

.review{
    color: #000;
}

.sliderArrows {
    position: absolute;
    height: 95vw; //width because need container to stretch along with image for diff screens
    top: 0%;
    width: 100%;
}

.outerCard {
    margin: 0.5em;
    min-height: calc(100vh - 70px);
}
