<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-back-button slot="start" text="" defaultHref="home" class="ion-no-margin"></ion-back-button>
    <ion-fab-button [routerDirection]="'root'" [routerLink]="['/cart']" slot="end" size="small">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-title> {{ productInfo.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Product Info Skeleton Begin-->
  <div *ngIf="!(productInfo.name)">
    <ion-card style="min-height: 90vh;">
      <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-skeleton-text animated style="height: 50vh"></ion-skeleton-text>
        </ion-slide>
      </ion-slides>

      <ion-card-content>
        <ion-card-title>
          <ion-skeleton-text animated style="margin-bottom: 10px;"></ion-skeleton-text>
        </ion-card-title>
        <ion-skeleton-text animated style="margin: 15px 0"></ion-skeleton-text>
        <ion-skeleton-text animated style="margin: 15px 0"></ion-skeleton-text>
        <ion-skeleton-text animated style="margin: 15px 0"></ion-skeleton-text>
        <ion-skeleton-text animated style="margin: 15px 0"></ion-skeleton-text>
        <ion-button expand="block" fill="outline" color="light" style="transform: translateY(150%);">
          <ion-skeleton-text animated style="height: 100%; width: 100%; transform: scaleX(1.5);"></ion-skeleton-text>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Product Info Skeleton End-->

  <div *ngIf="productInfo.name">
    <ion-card class="outerCard">
      <div class="slides-container">
        <ion-slides #slides [options]="slideOpts" pager="true">
        <ion-slide *ngFor="let image of productInfo.images">
          <ion-thumbnail>
            <ngx-progressive-image-loader [placeholderImageSrc]="(image?.src).slice(0, -4) + '-100x100' + (image?.src).slice(-4)">
              <img [src]="(image?.src).slice(0, -4) + '-600x600' + (image?.src).slice(-4)" ngxProgressiveImage />
            </ngx-progressive-image-loader>
          </ion-thumbnail>
          <!-- <img [src]="image.src" /> -->
        </ion-slide>
        </ion-slides>
        <div class="sliderArrows">
          <div class="swiper-button-prev swiper-button-black" color="light" (click)="prevSlide()"></div>
          <div class="swiper-button-next swiper-button-black" color="light" (click)="nextSlide()"></div>
        </div>
      </div> 

      <ion-card-content *ngIf="productInfo.categories">
        <ion-card-title>
          {{ productInfo.name }}
          <ion-chip *ngFor="let cat of productInfo.categories" style="margin-left: 5px;">
            <ion-label color="danger"> {{ cat.name }} </ion-label>
          </ion-chip>
        </ion-card-title>
        
        <div class="desc" [innerHTML]="productInfo.description"></div>

        <ion-button class="add-to-cart-btn" expand="block" fill="outline" color="danger" (click)="addToCart(productInfo)">
          Add to Cart for ${{productInfo.price}}
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="productInfo.attributes.length > 0">
      <ion-card-content>
        <ion-card-title>
          Specifications
        </ion-card-title>
        <ion-grid>
          <ion-row *ngFor="let att of productInfo.attributes">
            <ion-col size="4">
              {{ att.name}}
            </ion-col>
            <ion-col size="8">
              <span *ngFor="let option of att.options"> {{ option }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card *ngIf="reviews.length > 0">
      <ion-card-content>
        <ion-card-title>
          Reviews
        </ion-card-title>
        <ion-grid>
          <ion-row *ngFor="let review of reviews">
            <ion-col size="4">
              <b>{{ review.reviewer_name }}</b><br/>
              <span *ngIf="review.rating >= 1">
                <ion-icon style="color: #d4af37" small name="star"></ion-icon>
              </span>
              <span *ngIf="review.rating >= 2">
                <ion-icon style="color: #d4af37" small name="star"></ion-icon>
              </span>
              <span *ngIf="review.rating >= 3">
                <ion-icon style="color: #d4af37" small name="star"></ion-icon>
              </span>
              <span *ngIf="review.rating >= 4">
                <ion-icon style="color: #d4af37" small name="star"></ion-icon>
              </span>
              <span *ngIf="review.rating >= 5">
                <ion-icon style="color: #d4af37" small name="star"></ion-icon>
              </span>
            </ion-col>
            <ion-col size="8">
              <div class="review">{{  review.review }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card> -->
  </div>
  
</ion-content>
