<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-back-button slot="start" text="" defaultHref="home" class="ion-no-margin"></ion-back-button>
    <ion-title mode="ios">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mbsc-form class="md-login-form" [options]="formSettings">
    <div class="md-logo">
      <ion-img src="./assets/images/Logo_2.png"></ion-img>
    </div>
    <form [formGroup]="loginForm" novalidate>
      <mbsc-form-group inset>
        <mbsc-input formControlName="username" name="username" placeholder="Username"
          [error]="loginForm.controls['username'].invalid && loginForm.controls['username'].dirty"
          [errorMessage]="errorFor('username')">
        </mbsc-input>
        <mbsc-input formControlName="password" name="password" type="password" placeholder="Password" password-toggle="true"
          icon="none" icon-align="right"
          [error]="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty"
          [errorMessage]="errorFor('password')"></mbsc-input>
      </mbsc-form-group>
      <div class="sign-up">
        <a [routerDirection]="'root'" [routerLink]="['/signup']">Don't have an account yet? Sign up.</a>
      </div>
  
      <mbsc-form-group inset class="mbsc-padding">
        <mbsc-button block [disabled]="loginForm.invalid && attemptedSubmit" (click)="logIn()">Sign in
        </mbsc-button>
      </mbsc-form-group>
    </form>
  </mbsc-form>
</ion-content>
