<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mbsc-form class="md-login-form" [options]="formSettings">
    <form [formGroup]="loginForm" novalidate>
      <div class="md-logo micons icon-mbsc-logo"></div>
      <mbsc-form-group inset>
        <mbsc-input formControlName="email" name="Email" placeholder="Email"
          [error]="loginForm.controls['email'].invalid && loginForm.controls['email'].dirty"
          [errorMessage]="errorFor('email')">
        </mbsc-input>
        <mbsc-input formControlName="password" name="password" type="text" placeholder="Password" password-toggle="true"
          icon="none" icon-align="right"
          [error]="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty"
          [errorMessage]="errorFor('password')"></mbsc-input>
      </mbsc-form-group>
      <mbsc-form-group inset class="mbsc-padding mbsc-align-center">
        <a href="#" >Don't have an account yet? Sign up.</a>
        <br><br>
        <a href="#">Forgot password?</a>
      </mbsc-form-group>
      <mbsc-form-group inset class="mbsc-padding">
        <mbsc-button block *ngIf="isLogin" [disabled]="loginForm.invalid && attemptedSubmit" (click)="logIn()">Sign in
      </mbsc-form-group>
    </form>
  </mbsc-form>
</ion-content>
