.md-login-form .md-logo {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 50px;
}

ion-img {
    display: inline-block;
    width: 80%;
}

mbsc-form-group{
    padding: 1em;
}

.sign-up {
    margin-top: 80px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
}