.md-login-form .md-logo {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    opacity: 0;
    transform-origin:center;
    animation-name: fade-in;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes fade-in {
    // 0% {opacity: 0; width: 50%;}
    // 100% {opacity: 1; width: 80%;}
    0% {opacity: 0;}
    100% {opacity:1; transform: scale(1.6);}
}

mbsc-form-group{
    padding: 1em;
}

.sign-up {
    margin-top: 80px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
}