<ion-split-pane contentId="content">
<ion-menu type="push" contentId="content">
  <ion-header>
    <ion-toolbar>
      <!-- <ion-title text-left>KnoWhere</ion-title> -->
      <ion-img class="logo" src="./assets/images/Logo.png" ></ion-img>
      <ion-fab-button color="light" slot="end" size="small">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">
    <div>
      <ion-img src="./assets/images/shop-small.svg" ></ion-img>
    </div>

    <ion-list class="categories">
      <ion-list-header>
        <ion-label>CATEGORIES</ion-label>
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item  detail="false" [routerDirection]="'root'" [routerLink]="['/home']"  routerLinkActive="active">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label> Home </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false" *ngFor="let category of categories">
        <ion-item  detail="false" [routerDirection]="'forward'" [routerLink]="['/products/' + category.id]"  routerLinkActive="active">
          <ion-icon [name]="category.icon" slot="start"></ion-icon>
          <ion-label> {{ category.name }} </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ion-list class="navi">
      <ion-list-header>
          <ion-label>ACCOUNT</ion-label>
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item  detail="false" [routerDirection]="'forward'" [routerLink]="['/signup']"  routerLinkActive="active" *ngIf="!(services.user | async)">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label> Sign Up </ion-label>
        </ion-item>
        <ion-item  detail="false" [routerDirection]="'forward'" [routerLink]="['/login']"   routerLinkActive="active" *ngIf="!(services.user | async)">
          <ion-icon name="log-in" slot="start"></ion-icon>
          <ion-label> Log In </ion-label>
        </ion-item>

        <ion-item  detail="false" *ngIf="services.user | async">
          <ion-icon name="contact" slot="start" large></ion-icon>
          <ion-label>{{ services.userDetails['firstname']}}</ion-label>
        </ion-item>
  
        <ion-item  detail="false" *ngIf="services.user | async" [routerDirection]="'root'" [routerLink]="['/cart']" menuClose>
          <ion-icon name="cart" slot="start" large></ion-icon>
          <ion-label>Cart</ion-label>
        </ion-item>
  
        <ion-item  detail="false" *ngIf="services.user | async" (click)="logOut()" menuClose>
          <ion-icon name="log-out" slot="start" large></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
