.card-background-page {
    ion-card {
        position: relative;
        text-align: right;
        margin: 0px !important;
        width: 100% !important;
        border-radius: 0;
        // background-color: var(--kw-secondary);
        ion-img {
            padding-top: 10px;
            padding-right: 3px;
        }
    }
}

.active{
    --background: var(--kw-primary) !important;
    color: white !important;
    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --box-shadow: 0px 1px 4px 0px #00000094;
    z-index: 1;
    font-weight: bold;
}

ion-list{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ion-list-header{
    background-color: #757575;
    color: white;
    font-size: medium;
    padding-left: 7%;
}

ion-title{
    padding-left: 6%;
    font-size: 1.3em;
}

ion-item{
    // --background: #eeeded;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: var(--kw-secondary);
    font-size: 1.1em;
    ion-label {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

// ion-content{
//     --background: #eeeded;
// }

.logo {
    width: 60%;
    margin-top: 5px;
}
