.active{
    --background: var(--kw-primary) !important;
    color: white !important;
    --box-shadow: 0px 1px 4px 0px #00000094;
    font-weight: bold;
}

ion-list{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ion-list-header{
    background-color: #999999;
    color: #ffffff;
    font-size: 14px;
    padding-left: 7%;
    font-weight: 700;
}

// ion-title{
//     padding-left: 6%;
//     font-size: 1.3em;
// }
    
.logo {
    width: 60%;
    margin-top: 5px;
}

ion-item{
    // --background: #eeeded;
    font-weight: 600;
    color: var(--kw-secondary);
    font-size: 1.1em;
    ion-label {
        padding-top: 2px;
        padding-bottom: 2px;
        // letter-spacing: -0.02em;
    }
}

// ion-content{
//     --background: #eeeded;
// }

