<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Products by Category</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <ion-img [src]="product?.images[0].src"></ion-img>
      </ion-thumbnail>

      <p><ion-label class="custom-label-style">{{ product?.name }}</ion-label>
        {{product?.short_description.substr(3, 50) + '...'}}<br>
        <span class="custom-price-style" [innerHTML]="product?.price_html"></span>
      </p>

      <button ion-button icon clear slot="end">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
