<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-back-button slot="start" text="" defaultHref="home"></ion-back-button>
    <ion-fab-button router-direction="'root'" [routerLink]="['/cart']" slot="end" size="small" fill="outline">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-title>{{this.catName[0].name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="prodsByCat">
  <div *ngIf="products.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let product of products" [routerLink]="['/product-details/' + product.id]" [routerDirection]="'forward'">
          <ion-card>
            <ion-thumbnail>
              <ion-img [src]="product?.images[0].src"></ion-img>
            </ion-thumbnail>
            <ion-card-header>
              <ion-card-title class="custom-label-style">{{ product?.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="custom-desc">{{product?.short_description.substr(3, 50) + '...'}}</p>
              <p class="custom-price-style" [innerHTML]="product?.price_html"></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <!-- Products Skeleton -->
  <div *ngIf="!(products.length > 0)">
    <ion-grid style="--animation-order: 4.1;">
      <ion-row>
        <ion-col size="6" *ngFor="let product of [1,2,3,4,5,6]">
          <ion-card>
            <ion-thumbnail>
                <ion-skeleton-text animated style="height: 180px"></ion-skeleton-text>
            </ion-thumbnail>
              <ion-card-header>
                <ion-card-title class="custom-label-style">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 40%; margin: 5px auto;"></ion-skeleton-text>
              </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <!-- Products Skeleton -->

  <!-- <ion-list>
    <ion-item *ngFor="let product of products" [routerDirection]="'forward'" [routerLink]="['/product-details/' + product.id]">
      <ion-thumbnail slot="start">
        <ion-img [src]="product?.images[0].src"></ion-img>
      </ion-thumbnail>
      <ion-text>
        <ion-label class="custom-label-style">{{ product?.name }}</ion-label>
        <p class="custom-desc">{{product?.short_description.substr(3, 50) + '...'}}</p>
        <p class="custom-price-style" [innerHTML]="product?.price_html"></p>
      </ion-text>
    </ion-item>
  </ion-list> -->

  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="outr-endMsg">
    <ion-card *ngIf="endMsg" class="endMsg">
      That's all for now. Please try again later!
    </ion-card>
  </div>
</ion-content>
