ion-card {
  margin: 0 !important;
  width: 100% !important;
}

ion-thumbnail {
  width: 30%;
  height: 30% ;
  margin-right: 0;
}

.custom-label-style{
  font-weight: bold;
  text-decoration: underline;
  margin-top: 6%;
  color: #00609a;
}

.custom-price-style{
  font-weight: bold;
  margin-top: 4%;
  color: #e10000;
}

.custom-desc{
  font-size: 0.9em;
  margin-top: 4%;
}

ion-item{
  --padding-start: 5px !important;
  --background: #eeeded !important;
  --box-shadow: 0px 0px 1px black;
}

ion-content{
  --background: #eeeded;
}