.thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.custom-label-style {
    font-weight: 500;
    color: #1a1c1d;
    font-size: 16px;
    white-space: nowrap;
    line-height: 2.5;
}

.custom-desc {
    margin: 0;
    font-size: 14px;
}

.custom-price-style {
    margin: 0;
    line-height: 2.5;
    color: var(--kw-price);
}