<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start" text="" defaultHref="home"></ion-back-button>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="cartItems?.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col class="cartMsg">Cart Empty!</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid *ngIf="cartItems?.length > 0">
    <ion-row class="cartHeads">
      <ion-col align-self-center size="6">
        <ion-label>Product</ion-label>
      </ion-col>
      <ion-col align-self-center size="3">
        <ion-label>Quantity</ion-label>
      </ion-col>
      <ion-col align-self-center size="3">
        <ion-label>Price</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="cartItem" *ngFor="let item of cartItems; let i = index">
      <ion-col size="2" align-self-center>
        <ion-avatar>
          <img [src]="item.product.images[0].src"/>
        </ion-avatar>
      </ion-col>
      <ion-col size="4" align-self-center>
        <ion-label>{{ item.product.name }}</ion-label>
      </ion-col>
      <ion-col size="3" align-self-center>
        <ion-label>{{ item.qty }}</ion-label>
      </ion-col>
      <ion-col size="3" align-self-center>
        <ion-label>${{ item.product.price }}</ion-label>
        
      </ion-col>
        <ion-button class="removeBtn" clear="true" color="danger" (click)="removeFromCart(item, i)">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
    </ion-row>
  </ion-grid>

  <ion-card class="total" *ngIf="cartItems?.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label>TOTAL</ion-label>
        </ion-col>
        <ion-col size="3"></ion-col>
        <ion-col size="3">
            <ion-label> ${{ total }} </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="btns">
        <ion-col>
          <ion-button color="light" expand="block" (click)="closeCart()">Back</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" expand="block" (click)="checkOut()">Checkout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>