.cartMsg {
    text-align: center;
    font-weight: 500;
}

.cartHeads {
    border-bottom: 2px solid #d5d5d5;
    font-weight: 500;
    color: #8b8b8b;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.02em;
}

.cartHeads ion-col:nth-child(3) {
    padding-right: 5%;
}

.cartHeads ion-col:nth-child(1) {
    padding-right: 5%;
}

.cartItem {
    position: relative;
    margin-bottom: 10px;
}

// .cartItem ion-col:nth-child(1) {
//     padding-left: 0;
// }

.cartItem ion-col:nth-child(1) ion-avatar{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.cartItem ion-col:nth-child(2) {
    text-align: left;
    letter-spacing: 0.02em;
}

.cartItem ion-col:nth-child(3) {
    text-align: center;
}

.cartItem ion-col:nth-child(4) {
    text-align: center; 
    padding-right: 5%;
    letter-spacing: 0.04em;
}

.removeBtn {
    height: 30px;
    --border-radius: 100%;
    position: absolute;
    bottom: 16%; 
    right: 0%;
    margin-right: 0;
}

.removeBtn ion-icon {
    position: absolute;
}

.total {
    margin-left: 1%; 
    margin-right: 1%; 
    color: black; 
    font-weight: 500; 
    letter-spacing: 0.04em; 
    font-size: large;
}

.total ion-col:nth-child(1) {
    text-align: left;
}

.total ion-col:nth-child(3) {
    text-align: right;
}

.btns ion-button {
    letter-spacing: 0.04em;
}
