// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;

  /** success **/
  --ion-color-success: #10dc60;

  /** warning **/
  --ion-color-warning: #ffce00;

  /** danger **/
  --ion-color-danger: #f04141;

  /** light **/
  --ion-color-light: #ffffff;

  //custom colors
  --kw-primary: #00c3da;
  --kw-primary-tint: #00e4ff;
  --kw-secondary: #363c42;
  --kw-price: #ff3d00;
}

html.ios, html.md {
  --ion-default-font: Inter, sans-serif !important;
}

.main-header {
  background-color: var(--kw-secondary);
}

.main-toolbar {
  --background: var(--kw-secondary);
  --color: white;
  padding-top: 20px !important;
}

.search-toolbar {
  --background: var(--kw-secondary);
}

.home, .search {
  --offset-top: 56px !important;
  --background: linear-gradient(var(--kw-secondary) 56px, #ffffff 56px);
}

.noInternetAlert {
  text-align: center;
}

.signup-alert {
  .alert-title {
    text-align: center;
    font-size: 16px;
    color: #2aa45a;
  }
  .alert-message {
    text-align: center;
    font-size: 14px;
  }
  .alert-button-group {
    justify-content: center;
    background-color: #5d9cdb;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    .alert-button {
      color: white;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.checkout-alert {
  .alert-title {
    color: #4CAF50;
    font-size: 16px;
  }
  .alert-message {
    margin-top: 5%;
    font-size: 14px;
  }
  .alert-button {
    font-size: 18px;
  }
}

ion-buttons {
  position: absolute;
}

ion-menu-button {
  --color: #64dcf3;
  font-size: 32px;
}

ion-fab-button {
  --background: var(--kw-secondary);
  --color: #64dcf3;
  --background-activated: var(--kw-primary);
  --box-shadow: none;
  ion-icon {
    font-size: 28px;
  }
  position: absolute;
  transform: translateX(86vw);
}


.form-toolbar {
  --color: white;
}

ion-title {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

ion-back-button {
  position: absolute;
  transform: translateX(15vw);
  --color: var(--kw-primary-tint) !important;
  z-index: 1;
}
  
.toast {
  text-align: center;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:  local('Inter-Regular'),
        url('../assets/fonts/inter/Inter-Regular.woff2'),
        url('../assets/fonts/inter/Inter-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: medium;
  font-weight: 500;
  src:  local('Inter-Medium'),
        url('../assets/fonts/inter/Inter-Medium.woff2'),
        url('../assets/fonts/inter/Inter-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: semibold;
  font-weight: 600;
  src:  local('Inter-SemiBold'),
        url('../assets/fonts/inter/Inter-SemiBold.woff2'),
        url('../assets/fonts/inter/Inter-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  src:  local('Inter-Bold'),
        url('../assets/fonts/inter/Inter-Bold.woff2'),
        url('../assets/fonts/inter/Inter-Bold.ttf');
  font-display: swap;
}