<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-back-button slot="start" text="" defaultHref="home" class="ion-no-margin"></ion-back-button>
    <ion-title mode="ios">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="log-in">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <div class="logo-wrapper">
            <ion-img class="logo" src="./assets/images/Logo_2.png" alt="Logo"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row class="row-fields ion-align-items-start">
        <ion-col size="12" class="ion-text-center">
          <form [formGroup]="loginForm" novalidate>
            <ion-item>
              <ion-input formControlName="email" placeholder="Email-ID" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
            </ion-item>
          </form>
          <div class="err-wrapper">
            <p class="err" *ngIf="!loginForm.valid && !this.validAfterSubmit">Please enter a valid Email-ID and Password</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-sign-up ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <div class="sign-up">
            <a style="color: white;" [routerDirection]="'root'" [routerLink]="['/signup']">Don't have an account yet? Sign up.</a>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-login ion-align-items-start">
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" (click)="logIn()">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
