.offers {
  --animation-order: 1;
}

.new-deals-price {
  font-weight: 600;
  color: var(--kw-price);
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 8px;
}

.new-deals-label {
  line-height: 16px;
  font-size: 14px;
}

.new-deals {
  --animation-order: 2;
  background-color: #ededed;
}

.new-deals-header {
  --animation-order: 2;
}

.new-deals-header, .more-prod-header {
  text-align: center;
  background-color: var(--kw-primary);
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.2px;
  z-index: 0;
}

.more-prod-header {
  --animation-order: 3;
}

.more-prod {
  background-color: white;
  --animation-order: 3;
}
