<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-fab-button slot="start" size="small"> -->
      <ion-back-button slot="start" text="" defaultHref="home"></ion-back-button>
    <!-- </ion-fab-button> -->
    <ion-title>
      Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mbsc-form class="signUp" [options]="formSettings">
    <form novalidate [formGroup]="signUpForm">
      <mbsc-form-group>
          <mbsc-form-group-title><b>Personal Details</b></mbsc-form-group-title>
          <mbsc-form-group-content>
            <mbsc-input formControlName="first_name" label-style="floating" [error]="signUpForm.controls['first_name'].touched && signUpForm.controls['first_name'].invalid " [errorMessage]="getErrorMessage('first_name')">First Name</mbsc-input>
            <mbsc-input formControlName="last_name" label-style="floating" [error]="signUpForm.controls['last_name'].touched && signUpForm.controls['last_name'].invalid" [errorMessage]="getErrorMessage('last_name')">Last Name</mbsc-input>
            <mbsc-input formControlName="email" label-style="floating" [error]="(signUpForm.controls['email'].touched || signUpForm.controls['email'].dirty) && signUpForm.controls['email'].invalid" [errorMessage]="getErrorMessage('email')" >Email</mbsc-input>
            <mbsc-input formControlName="username" label-style="floating" [error]="(signUpForm.controls['username'].touched || signUpForm.controls['username'].dirty) && signUpForm.controls['username'].invalid" [errorMessage]="getErrorMessage('username')" >Username</mbsc-input>
            <mbsc-input formControlName="password" type="password" label-style="floating" password-toggle="true" [error]="(signUpForm.controls['password'].touched || signUpForm.controls['password'].dirty) && signUpForm.controls['password'].invalid" [errorMessage]="getErrorMessage('password')" >Password</mbsc-input>
            <mbsc-input formControlName="conf_password" type="password" label-style="floating" password-toggle="true" [error]="(signUpForm.controls['conf_password'].touched || signUpForm.controls['conf_password'].dirty) && signUpForm.hasError('noMatch')" [errorMessage]="getErrorMessage('conf_password')" >Confirm Password</mbsc-input>
        </mbsc-form-group-content>
      </mbsc-form-group>

      <mbsc-form-group formGroupName="billing">
        <mbsc-form-group-title><b>Billing Details</b></mbsc-form-group-title>
        <mbsc-form-group-content>
          <mbsc-input formControlName="first_name" label-style="floating" [error]="signUpForm.controls['billing'].controls['first_name'].touched && signUpForm.controls['billing'].controls['first_name'].invalid" [errorMessage]="getErrorMessage('billing.first_name')">First Name</mbsc-input>
          <mbsc-input formControlName="last_name" label-style="floating" [error]="signUpForm.controls['billing'].controls['last_name'].touched && signUpForm.controls['billing'].controls['last_name'].invalid" [errorMessage]="getErrorMessage('billing.last_name')">Last Name</mbsc-input>
          <mbsc-input formControlName="address_1" label-style="floating" [error]="signUpForm.controls['billing'].controls['address_1'].touched && signUpForm.controls['billing'].controls['address_1'].invalid" [errorMessage]="getErrorMessage('billing.address_1')">Address Line 1</mbsc-input>
          <mbsc-input formControlName="address_2" label-style="floating" [error]="signUpForm.controls['billing'].controls['address_2'].touched && signUpForm.controls['billing'].controls['address_2'].invalid" [errorMessage]="getErrorMessage('billing.address_2')">Address Line 2</mbsc-input>
          <mbsc-dropdown formControlName="country" [error]="signUpForm.controls['billing'].controls['country'].touched && signUpForm.controls['billing'].controls['country'].invalid" [errorMessage]="getErrorMessage('billing.country')">
              <option value="" disabled selected hidden>Country</option>
              <option *ngFor = "let c of countries" value="{{c.country_id}}">{{c.country_title}}</option>
          </mbsc-dropdown>
          <mbsc-input formControlName="state" label-style="floating" [error]="signUpForm.controls['billing'].controls['state'].touched && signUpForm.controls['billing'].controls['state'].invalid" [errorMessage]="getErrorMessage('billing.state')">State</mbsc-input>
          <mbsc-input formControlName="city" label-style="floating" [error]="signUpForm.controls['billing'].controls['city'].touched && signUpForm.controls['billing'].controls['city'].invalid" [errorMessage]="getErrorMessage('billing.city')">City</mbsc-input>
          <mbsc-input formControlName="postcode" label-style="floating" [error]="signUpForm.controls['billing'].controls['postcode'].touched && signUpForm['controls'].billing.controls['postcode'].invalid" [errorMessage]="getErrorMessage('billing.postcode')">Postal Code</mbsc-input>
          <mbsc-input formControlName="phone" label-style="floating" [error]="signUpForm.controls['billing'].controls['phone'].touched && signUpForm.controls['billing'].controls['phone'].invalid" [errorMessage]="getErrorMessage('billing.phone')">Phone No.</mbsc-input>
          <mbsc-switch color="primary" (change)="setBillingToShipping()"> Billing Details same as Shipping Details?
          </mbsc-switch>
        </mbsc-form-group-content>
      </mbsc-form-group>

      <mbsc-form-group formGroupName="shipping" *ngIf="!billing_shipping_same">
        <mbsc-form-group-title><b>Shipping Details</b></mbsc-form-group-title>
        <mbsc-form-group-content>
          <mbsc-input formControlName="first_name" [label-style]="label_style" [error]="signUpForm.controls['shipping'].controls['first_name'].touched && signUpForm.controls['shipping'].controls['first_name'].invalid" [errorMessage]="getErrorMessage('shipping.first_name')">First Name</mbsc-input>
          <mbsc-input formControlName="last_name" [label-style]="label_style" [error]="signUpForm.controls['shipping'].controls['last_name'].touched && signUpForm.controls['shipping'].controls['last_name'].invalid" [errorMessage]="getErrorMessage('shipping.last_name')">Last Name</mbsc-input>
          <mbsc-input formControlName="address_1" [label-style]="label_style" [error]="signUpForm.controls['shipping'].controls['address_1'].touched && signUpForm.controls['shipping'].controls['address_1'].invalid" [errorMessage]="getErrorMessage('shipping.address_1')">Address Line 1</mbsc-input>
          <mbsc-input formControlName="address_2" [label-style]="label_style" [error]="signUpForm.controls['shipping'].controls['address_2'].touched && signUpForm.controls['shipping'].controls['address_2'].invalid" [errorMessage]="getErrorMessage('shipping.address_2')">Address Line 2</mbsc-input>
          <mbsc-dropdown formControlName="country" [error]="signUpForm.controls['shipping'].controls['country'].touched && signUpForm.controls['shipping'].controls['country'].invalid" [errorMessage]="getErrorMessage('shipping.country')">
              <option value="" disabled selected hidden>Country</option>
              <option *ngFor = "let c of countries" value="{{c.country_id}}">{{c.country_title}}</option>
          </mbsc-dropdown>
          <mbsc-input formControlName="state" [label-style]="label_style" [error]="signUpForm.controls['shipping'].controls['state'].touched && signUpForm.controls['shipping'].controls['state'].invalid" [errorMessage]="getErrorMessage('shipping.state')">State</mbsc-input>
          <mbsc-input formControlName="city" [label-style]="label_style" [error]="signUpForm.controls['shipping'].controls['city'].touched && signUpForm.controls['shipping'].controls['city'].invalid" [errorMessage]="getErrorMessage('shipping.city')">City</mbsc-input>
          <mbsc-input formControlName="postcode" [label-style]="label_style" [error]="signUpForm.controls['shipping'].controls['postcode'].touched && signUpForm.controls['shipping'].controls['postcode'].invalid" [errorMessage]="getErrorMessage('shipping.postcode')">Postal Code</mbsc-input>
        </mbsc-form-group-content>
      </mbsc-form-group>  
    </form>
  </mbsc-form>

  <ion-footer> 
    <br>
    <ion-text *ngIf="formNotValid && !signUpForm.valid" color="danger">*Please check the fields for errors.</ion-text>
    <ion-button expand="block" color="primary"  (click)="signup()">Sign Up</ion-button>
    <br>
    <a [routerDirection]="'root'" [routerLink]="['/login']">Already have an account?</a>
    <br>
  </ion-footer>
</ion-content>
