// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

* {
	outline:none;
}

//Begin Home and Category pages Styles//
.home ion-card img, .prodsByCat ion-card img {
    border-radius: 15px 15px 0 0;
}

.home ion-card, .prodsByCat ion-card {
    margin: 0 !important;
    border: 2px solid #363c4254;
    border-radius: 15px;
    overflow: visible;
    box-shadow: none;
}

.home .outr-endMsg, .prodsByCat .outr-endMsg{
    margin-bottom: 10px;
}

.home .endMsg, .prodsByCat .endMsg {
    box-shadow: none;
    text-align: center;
    border: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    border-radius: 0;
    color: #737373;
    opacity: 0;
    animation-name: fade-up;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transform: translateY(10px);
    margin: 5px auto !important;
}

@keyframes fade-up {
    0% {opacity: 0; transform: translateY(10px);}
    100% {opacity: 1; transform: translateY(0);}
}

.home ion-card-header, .prodsByCat ion-card-header {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.home ion-card-content, .prodsByCat ion-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    overflow: visible;
}

.home .custom-label-style, .prodsByCat .custom-label-style {
    font-weight: 600;
    margin-left: 0;
    color: #1a1c1d;
    letter-spacing: -0.02em;
    font-size: 1.3em;
    white-space: nowrap;
    text-align: center;
}

.home .custom-price-style, .prodsByCat .custom-price-style {
    font-weight: 600;
    color: var(--kw-price);
    // letter-spacing: 0.8px;
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}

.home .custom-desc, .prodsByCat .custom-desc {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: inherit;
    // word-spacing: 0.1em;
    line-height: 20px;
}

.home ion-item, .prodsByCat ion-item {
    --padding-start: 10px !important;
    background: #ffffff !important;
    box-shadow: 0px 0px 2px darkgrey;
    padding-top: 3%;
    padding-bottom: 3%;
    --inner-border-width: 0;
}

.offers, .new-deals-header, .new-deals, .more-prod-header, .more-prod {
    opacity: 0;
    animation: staggered 400ms ease calc(var(--animation-order) * 150ms) forwards;
}

.outofstock, .empty {
    margin: 10%;
    position: absolute;
    top: 15%;
    ion-label {
        text-align: center;
        width: 100%;
        display: block;
        font-weight: 600;
        font-size: 30px;
        color: #444053;
        margin-top: 5%;
        letter-spacing: 0.02em;
    }
    p {
        text-align: center;
        letter-spacing: 0.02em;
        color: #90979e;
        font-weight: 500;
    }
    opacity: 0;
    animation: staggered 200ms ease 150ms forwards;
}

@keyframes staggered {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
//End Home and Category pages Styles//


//Begin ngx-owl-carousel styles//

.owl-theme .owl-dots {
    position: absolute;
    bottom: -3%;
    width: 100%;
}

.owl-nav {
    pointer-events: none;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    align-items: center !important;
    top: 0;
}

.owl-prev, .owl-next {
    pointer-events: auto;
    font-size: 30px !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    padding-bottom: 5px !important;
    background: #bebebe29 !important;
    border-radius: 50px !important;
    position: absolute !important;
    margin: auto 2px !important;
    font-weight: 500;
}

.owl-prev {
    left: 0px;
}

.owl-next {
    right: 0px;
}

.offers owl-carousel-child {
    overflow: hidden !important;
    max-height: 205px;
}

.new-deals owl-carousel-child {
    text-align: center;
    font-weight: 500;
    .new-deals-label {
        line-height: 20px;
        font-size: 16px;
        padding-top: 10px;
        // letter-spacing: 0.01em;
    }
    .image-wrapper {
        min-height: 105px;
        margin-top: 10px;
      }
    img {
        width: 76% !important;
        margin: 0 auto;
    }
}
//End ngx-owl-carousel styles//


@import '~ngx-progressive-image-loader/ngx-progressive-image-loader';

$scale: 1; // the scale of loading image in place holder
$transition: opacity 1s ease; // the transition of loading image in place holder, you could try: opacity .3s ease
@include progressive-image-loader($scale, $transition);
