// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

//Styles for Home and Category pages.
.home ion-grid ion-thumbnail, .prodsByCat ion-grid ion-thumbnail {
    width: 100%;
    height: 100% ;
    border-radius: 10px;
    // border: 1px solid #c2c2c2;
    // box-shadow: 1px 1px 10px 1px rgba(0,0,0,.21);
    // margin-right: 0;
    ion-img {
        border-radius: 10px 10px 0 0;
    }
}

.home ion-col, .prodsByCat ion-col {
    --ion-grid-column-padding: 8px;
    // border: 3px solid #ededed;
}

.home ion-card, .prodsByCat ion-card {
    margin: 0 !important;
    width: 100% !important;
    padding-bottom: 1px;
    box-shadow: 4px -4px 2px 0px #ededed;
    border: 1px solid #363c4254;
    border-radius: 15px;
}

.home .endMsg, .prodsByCat .endMsg {
    box-shadow: none;
    text-align: center;
    border: none;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 30px !important;
    border-radius: 0;
    margin-top: 10px !important;
    color: #949494;
}

.home ion-card-header, .prodsByCat ion-card-header {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.home ion-card-content, .prodsByCat ion-card-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.home .custom-label-style, .prodsByCat .custom-label-style {
    font-weight: 600;
    margin-left: 0;
    color: #363c42;
    letter-spacing: 0.4px;
    font-size: 1.3em;
    white-space: nowrap;
    text-align: center;
    // margin-top: 6%;
    // text-decoration: underline;
}

.home .custom-price-style, .prodsByCat .custom-price-style {
    font-weight: 600;
    color: #ff3d00;
    letter-spacing: 0.8px;
    margin-bottom: 0;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
}

.home .custom-desc, .prodsByCat .custom-desc {
    font-size: 0.90em;
    font-weight: 500;
    letter-spacing: 0.5px;
    // text-align: center;
    // margin-top: 2%;
}

.home ion-item, .prodsByCat ion-item {
    --padding-start: 10px !important;
    background: #ffffff !important;
    box-shadow: 0px 0px 2px darkgrey;
    padding-top: 3%;
    padding-bottom: 3%;
    --inner-border-width: 0;
}
//End of Styles for Home and Category pages.

//Styles for Mobiscroll.
.md-login-form .mbsc-ios.mbsc-form {
    background: rgb(157,235,255) !important;
    background: radial-gradient(circle, rgba(157,235,255,1) 0%, rgba(102,223,255,1) 50%, rgba(17,154,191,1) 100%) !important;
    background: radial-gradient(circle, rgba(0,102,129,1) 0%, rgba(0,131,164,1) 69%, rgba(0,167,210,1) 100%)!important;
    min-height: 100%;
}

.signUp .mbsc-material.mbsc-form {
    background: white !important;
}

.checkOut .mbsc-material.mbsc-form {
    background: white !important;
}

.mbsc-form-group-title {
    color: #ffffff !important;
    letter-spacing: 0.04em;
    word-spacing: 1px;
    background: #1e3e5f;
}

.mbsc-form-group {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.mbsc-ios.mbsc-form a{
    color: white;
}

.mbsc-ios .mbsc-btn {
    color: #39649c !important;
    font-weight: 700;
    font-size: 1.1em;
}

.mbsc-form {
    font-family: inter, sans-serif !important;
}

.mbsc-input-wrap{
    padding-right: 0 !important;
}

.mbsc-err-msg {
    font-size: .80em !important;
    min-width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mbsc-material .mbsc-input input:focus {
    border-bottom: 2px solid #3a99ff !important;
}

.mbsc-material .mbsc-input .mbsc-label {
    font-size: .80em !important;
    letter-spacing: 0.02em;
}

.mbsc-material .mbsc-input input, .mbsc-material .mbsc-input textarea {
    font-weight: 500;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #008389 !important;
    font-size: 1.1em !important;
}

.mbsc-ios .mbsc-err-msg {
    color: #e13600;
    background-color: #ffe991;
}

[_nghost-c4] {
    margin-bottom: 2.5em !important;
}

.mbsc-material .mbsc-err-msg, .mbsc-material .mbsc-err .mbsc-label {
    color: #FF5722 !important;
}

.checkOut mbsc-form-group-title {
    font-size: 1.1em;
}

// mbsc-dropdown label {
//     padding-top: 15px;
// }

//End of Styles for Mobiscroll.

//Styles for MDB Carousel.
mdb-carousel div .carousel-inner {
    background-color: #696969;
}
//End of Styles for MDB Carousel.

@import "~@mobiscroll/angular-lite/dist/css/mobiscroll.css";
