<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-fab-button router-direction="'root'" [routerLink]="['/cart']" slot="end" size="small" fill="outline">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home ion-no-padding">
  <!-- MAIN SLIDER BEGIN -->
  <div class="offers">
    <owl-carousel #mainSlider
    [options]="offersConfig"
    [carouselClasses]="['owl-theme', 'row', 'sliding']"
    [items]="offers">
      <div class="item" *ngFor="let image of offers">
        <div class="image-wrapper">
          <img src="./assets/images/{{image}}-small.jpg">
        </div>
      </div>
    </owl-carousel>
  </div>
  <!-- MAIN SLIDER END -->


  <!-- NEW DEALS SLIDER BEGIN -->
  <ion-header class="new-deals-header">New Deals</ion-header>
  
  <div class="new-deals">
    <!-- New Deals Slider Skeleton Begin-->
    <ion-grid *ngIf="!(popProducts.length > 0)">
      <ion-row>
        <ion-col size="4" *ngFor="let col of [1,2,3]">
          <ion-thumbnail style="width: 24vw; height: 13vh; margin: 6px auto;">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <ion-skeleton-text animated style="width: 60%; margin: 0 auto;"></ion-skeleton-text>
          </ion-label>
          <ion-label >
            <ion-skeleton-text animated style="width: 40%; margin: 5px auto;"></ion-skeleton-text>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <!-- <div *ngIf="!(popProducts.length > 0)">
      <owl-carousel
      [options]="newDealsConfig"
      [carouselClasses]="['owl-theme', 'row', 'sliding', 'new-deals']"
      [items]="popProducts">
        <div class="item" *ngFor="let product of [1,2,3]">
          <div class="image-wrapper" style="width: 24vw; height: 13vh; margin: 6px auto;">
            <ion-skeleton-text animated></ion-skeleton-text>
          </div>
          <ion-label>
            <ion-skeleton-text animated style="width: 60%; margin: 0 auto;"></ion-skeleton-text>
          </ion-label>
          <ion-label >
            <ion-skeleton-text animated style="width: 40%; margin: 5px auto;"></ion-skeleton-text>
          </ion-label>
        </div>
      </owl-carousel>
    </div> -->
    <!-- New Deals Slider Skeleton End-->
    
    <div *ngIf="popProducts.length > 0">
      <owl-carousel #newDealSlider
      [options]="newDealsConfig"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
      [items]="popProducts">
        <div class="item" *ngFor="let product of popProducts" [routerLink]="['/product-details/' + product.id]" [routerDirection]="'forward'">
          <div class="image-wrapper">
            <img [src]="(product?.images[0].src) | imgSize : '100x100' | async">
          </div>
          <ion-label class="new-deals-label ion-text-wrap" >{{ product?.name }} </ion-label>
          <p class="new-deals-price" [innerHTML]="product?.price_html"></p>
        </div>
      </owl-carousel>
    </div>
  </div>
  <!-- NEW DEALS SLIDER END -->


  <!-- POPULAR PRODUCTS BEGIN -->
  <ion-header class="more-prod-header">
    Most Popular
  </ion-header>

  <ion-grid class="more-prod">
    <!-- Popular Products Skeleton Begin-->
    <div *ngIf="!(moreProducts.length > 0)">
      <ion-row>
        <ion-col size="6" *ngFor="let product of [1,2,3,4]">
          <ion-card>
            <ion-thumbnail style="width: 100%; height: 12em;">
              <ion-skeleton-text animated style="border-radius: 15px 15px 0 0;"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-card-header>
              <ion-card-title class="custom-label-style">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40%; margin: 5px auto;"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <!-- Popular Products Skeleton End-->

    <div *ngIf="moreProducts.length > 0">
      <ion-row>
        <ion-col size="6" *ngFor="let product of moreProducts" [routerLink]="['/product-details/' + product.id]" [routerDirection]="'forward'">
          <ion-card>
            <ngx-progressive-image-loader [placeholderImageSrc]="(product?.images[0].src) | imgSize : '100x100' | async">
              <img [src]="(product?.images[0].src) | imgSize : '300x300' | async" ngxProgressiveImage/>
            </ngx-progressive-image-loader>
            <ion-card-header>
              <ion-card-title class="custom-label-style">{{ product?.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="custom-desc">{{product?.short_description.substr(3, 70) + '...'}}</p>
            </ion-card-content>
            <ion-footer>
              <p class="custom-price-style" [innerHTML]="product?.price_html"></p>
            </ion-footer>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <!-- POPULAR PRODUCTS END -->
  

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="outr-endMsg">
    <ion-card *ngIf="endMsg" class="endMsg">
     --- That's all for now. Please try again later! ---
    </ion-card>
  </div>
</ion-content>
