ion-card {
  margin: 0 !important;
  width: 100% !important;
}

ion-thumbnail {
  width: 26% !important;
  height: 26% ;
}

.custom-label-style{
  font-weight: bold !important;
  text-decoration: underline !important;
}

.custom-price-style{
  font-weight: bold !important;
}

.custom-desc{
  font-size: 0.9em;
}
