<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-fab-button router-direction="'root'" [routerLink]="['/cart']" slot="end" size="small" fill="outline">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home ion-no-padding">
  <!-- <ion-card>
    <ion-slides [options]="config" pager="true">
      <ion-slide *ngFor="let number of [1,2,3,4]">
        <img  />
      </ion-slide>
    </ion-slides>
  </ion-card> -->

  <mdb-carousel style="--animation-order: 1;" #carousel class="carousel slide carousel-fade" [animation]="'fade'" >
    <mdb-carousel-item *ngFor="let number of [1,2,3,4]">
      <ion-img class="d-block w-100" src="./assets/images/{{number}}.jpg"></ion-img>
    </mdb-carousel-item>
  </mdb-carousel>

  <ion-header style="--animation-order: 2;" class="new-deals-header">New Deals</ion-header>
  <ion-slides style="--animation-order: 3;" [options]="slideOpts2" class="new-deals">
    <ion-slide class="new-deal-slides" *ngFor="let product of popProducts " [routerLink]="['/product-details/' + product.id]" [routerDirection]="'forward'">
      <ion-thumbnail class="ion-no-padding"> 
        <img [src]="product?.images[0].src"/>
      </ion-thumbnail>
      <ion-label class="new-deals-label" >{{ product?.name }} </ion-label>
      <p class="new-deals-price" [innerHTML]="product?.price_html"></p>
    </ion-slide>
  </ion-slides>

  <ion-header style="--animation-order: 4;" class="more-prod-header">
    Most Popular
  </ion-header>
  <ion-grid style="--animation-order: 4.1;">
    <ion-row>
      <ion-col size="6" *ngFor="let product of moreProducts" [routerLink]="['/product-details/' + product.id]" [routerDirection]="'forward'">
        <ion-card>
          <ion-thumbnail>
            <img [src]="product?.images[0].src"/>
          </ion-thumbnail>
            <ion-card-header>
              <ion-card-title class="custom-label-style">{{ product?.name }}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              <p class="custom-desc">{{product?.short_description.substr(3, 50) + '...'}}</p>
              <p class="custom-price-style" [innerHTML]="product?.price_html"></p>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list>
      <ion-header class="more-prod-header">
          Most Popular
      </ion-header>
      <ion-item *ngFor="let product of moreProducts" [routerLink]="['/product-details/' + product.id]" [routerDirection]="'forward'">
        <ion-thumbnail slot="start">
          <ion-img [src]="product.images[0].src"></ion-img>
        </ion-thumbnail>

        <ion-text>
          <ion-label class="custom-label-style">{{ product?.name }}</ion-label>
          <p class="custom-desc">{{product?.short_description.substr(3, 50) + '...'}}</p>
          <p class="custom-price-style" [innerHTML]="product?.price_html"></p>
        </ion-text>
        
      </ion-item>
  </ion-list> -->

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-card *ngIf="endMsg" class="endMsg">
    That's all for now. Please try again later!
  </ion-card>
  
</ion-content>
