<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-fab-button router-direction="'root'" [routerLink]="['/cart']" slot="end" size="small" color="light" fill="outline">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-slides [options]="config" pager="true">
      <ion-slide *ngFor="let number of [1,2,3,4]">
        <img src="./assets/images/{{number}}.jpg" />
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-header class="new-deals-header">NEW DEALS</ion-header>
  <ion-slides *ngIf="popProducts && popProducts.length" [options]="slideOpts2" class="new-deals">
    <ion-slide class="new-deal-slides" *ngFor="let product of popProducts " [routerLink]="['/product-details/' + product.id]" [routerDirection]="'forward'">
      <ion-thumbnail no-padding> 
        <img [src]="product?.images[0].src" />
      </ion-thumbnail>
      <ion-label>{{ product.name }} </ion-label>
    </ion-slide>
  </ion-slides>


  <ion-list>
      <ion-list-header>
          <ion-label>Popular Products</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let product of moreProducts" [routerLink]="['/product-details/' + product.id]" [routerDirection]="'forward'">
        <ion-thumbnail slot="start">
          <img [src]="product.images[0].src" />
        </ion-thumbnail>

        <ion-text>
          <ion-label class="custom-label-style">{{ product?.name }}</ion-label>
          <p class="custom-desc">{{product?.short_description.substr(3, 50) + '...'}}</p>
          <p class="custom-price-style" [innerHTML]="product?.price_html"></p>
        </ion-text>
        
      </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
